<h1 style="text-align: center;"><span style="color: #ff0000;"><strong>EKIPE</strong></span></h1>
<p>&nbsp;</p>
<table style="width: 444px; height: 233px; margin-left: auto; margin-right: auto;">
<tbody>
<tr>
<td style="width: 39.2px;">&nbsp;</td>Ekipa1
<td style="width: 39.2px;">&nbsp;</td>Ekipa2
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px;">&nbsp;</td>
</tr>
<tr>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 39.2px;">&nbsp;</td>
<td style="width: 39.2167px;">&nbsp;</td>
<td style="width: 27.1667px; text-align: center;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>