%rebase('base.html', naslov='Ekipe')


<style type="text/css">
    body {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background-image: url('bg.jpg');
    }
    #wrapper {
        width: 80%;
        margin: 60px auto 0px auto;
        padding: 20px 20px 20px 20px;
    }
</style>

<div id="wrapper" class="row mb-2 no-gutters border rounded overflow-hidden shadow-sm h-md-600 position-relative" style="float:left; width:100%; border:1px solid; padding: 20px;">
   
    <br style="margin-bottom:240px;"/>

    <h2>Ekipe</h2>

    <div id="wrapper" style="height:700px;overflow-y:auto;overflow-y:auto;">
        <table class="table table-bordered table-hover">
           <thead id="headings" class="thead-light">
            <tr>
               <th scope="col">Ekipa</th>
               <th scope="col">Ime ekipe</th>
               <th scope="col">Zmage</th>
               <th scope="col">Porazi</th>
               <th scope="col">Razmerje</th>
            </tr>
            </thead>
            <tbody>
            %for (ime,zmage,porazi,razmerje,kratica) in seznam_ekip:
              <tr>
                <td><a href="/ekipa/{{kratica}}/">{{kratica}} <img src="https://raw.githubusercontent.com/andrazdeluisa/NBA.stats/master/static/logo/{{kratica}}.png" width="25" height="25" role="img" align="right" alt="Logo"\></a></td>
                 <td>{{ime}}</td>
                 <td>{{zmage}}</td>
                 <td>{{porazi}}</td>
                 <td>{{razmerje}}</td>
              </tr>
            %end
            </tbody>
        </table>
    </div>
  </div>
</div>