%rebase('base.html', naslov='Igralec '.format(x))

<style type="text/css">
    body {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background-image: url('bg.jpg');
    }
    #wrapper {
        width: 100%;
        margin: 60px auto 0px auto;
        padding: 20px 20px 20px 20px;
</style>

<div id="wrapper" class="row mb-2 no-gutters border rounded overflow-hidden shadow-sm h-md-600 position-relative" style="float:left; width:100%; border:1px solid; padding: 20px;">
   
    <br style="margin-bottom:240px;"/>

    <div>
    <h1>{{x}}</h1>
    </div>

    <div>
    %for (ekipa, stevilo_tekem, zacetna_postava, minutaza, tocke, osebne_napake, izgubljene_zoge, blokade, ukradene_zoge, podaje, skoki_v_obrambi, skoki_v_napadu, stevilo_prostih_metov, stevilo_zadetih_prostih_metov, stevilo_trojk, stevilo_zadetih_trojk, stevilo_metov_iz_igre, stevilo_zadetih_metov_iz_igre, placa) in statistika:
        <div class="col-md-5">
            <img src="https://raw.githubusercontent.com/andrazdeluisa/NBA.stats/master/static/logo/{{ekipa}}.png" width="50" height="50" role="img" alt="Logo"\>
        </div>
    %end
    </div>

    <div id="wrapper" style="height:700px;overflow-y:auto;overflow-y:auto;">
        <table class="table table-bordered table-hover">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Število tekem</th>
                    <th scope="col">Začetna postava</th>
                    <th scope="col">Minutaža</th>
                    <th scope="col">Točke</th>
                    <th scope="col">Osebne napake</th>
                    <th scope="col">Izgubljene žoge</th>
                    <th scope="col">Blokade</th>
                    <th scope="col">Ukradene žoge</th>
                    <th scope="col">Podaje</th>
                </tr>
            </thead>
            <tbody>
            %for (ekipa, stevilo_tekem, zacetna_postava, minutaza, tocke, osebne_napake, izgubljene_zoge, blokade, ukradene_zoge, podaje, skoki_v_obrambi, skoki_v_napadu, stevilo_prostih_metov, stevilo_zadetih_prostih_metov, stevilo_trojk, stevilo_zadetih_trojk, stevilo_metov_iz_igre, stevilo_zadetih_metov_iz_igre, placa) in statistika:
              <tr>
                 <td>{{stevilo_tekem}}</td>
                 <td>{{zacetna_postava}}</td>
                 <td>{{minutaza}}</td>
                 <td>{{tocke}}</td>
                 <td>{{osebne_napake}}</td>
                 <td>{{izgubljene_zoge}}</td>
                 <td>{{blokade}}</td>
                 <td>{{ukradene_zoge}}</td>
                 <td>{{podaje}}</td>
              </tr>
            %end
            </tbody>
            <thead class="thead-light">
                <tr>
                    <th scope="col">Skoki v obrambi</th>
                    <th scope="col">Skoki v napadu</th>
                    <th scope="col">Število prostih metov</th>
                    <th scope="col">Število zadetih prostih metov</th>
                    <th scope="col">Število trojk</th>
                    <th scope="col">Število zadetih trojk</th>
                    <th scope="col">Število metov iz igre</th>
                    <th scope="col">Število zadetih metov iz igre</th>
                    <th scope="col">Plača</th>
                </tr>
            </thead>
            <tbody>
                %for (ekipa, stevilo_tekem, zacetna_postava, minutaza, tocke, osebne_napake, izgubljene_zoge, blokade, ukradene_zoge, podaje, skoki_v_obrambi, skoki_v_napadu, stevilo_prostih_metov, stevilo_zadetih_prostih_metov, stevilo_trojk, stevilo_zadetih_trojk, stevilo_metov_iz_igre, stevilo_zadetih_metov_iz_igre, placa) in statistika:
                 <tr>
                    <td>{{skoki_v_obrambi}}</td>
                    <td>{{skoki_v_napadu}}</td>
                    <td>{{stevilo_prostih_metov}}</td>
                    <td>{{stevilo_zadetih_prostih_metov}}</td>
                    <td>{{stevilo_trojk}}</td>
                    <td>{{stevilo_zadetih_trojk}}</td>
                    <td>{{stevilo_metov_iz_igre}}</td>
                    <td>{{stevilo_zadetih_metov_iz_igre}}</td>
                    % if placa != None:
                        <td>{{f'{placa:,}'}}.00 $</td>
                    % else:
                        <td> Ni podatka </td>
                    % end
                 </tr>
                 %end
                 </tbody>
        </table>
        <p> </p>
        <p> </p>
        <h3>Statistika:</h3>
        <p>Minutaža: {{round(minutaza / stevilo_tekem, 2)}}</p>
        <p>Točke: {{round(tocke / stevilo_tekem, 2)}}</p>
        <p>Podaje: {{round(podaje / stevilo_tekem, 2)}}</p>
        <p>Skoki: {{round((skoki_v_napadu + skoki_v_obrambi) / stevilo_tekem, 2)}}</p>
        <p>Blokade: {{round(blokade / stevilo_tekem, 2)}}</p>
        %if stevilo_prostih_metov != 0:
                    <p>Prosti meti: {{round((stevilo_zadetih_prostih_metov * 100) / stevilo_prostih_metov, 2)}} %</p>
                %end
                
                %if stevilo_metov_iz_igre != 0:
                    <p>Met iz igre: {{round((stevilo_zadetih_metov_iz_igre * 100) / stevilo_metov_iz_igre, 2)}} %</p>
                %end 

                %if stevilo_trojk != 0:
                    <p>Trojke: {{round((stevilo_zadetih_trojk * 100) / stevilo_trojk, 2)}} %</p>
                %else:
                    <p>{{0}}</>
                %end

    </div>
  </div>
</div>
