<html>
<body onload="parent.scrollTo(0,0);"></body>
<p><a name="top"></a></p>
<h1 style="text-align: center;">&nbsp;</h1>
<h1 style="text-align: center;"><img stzle = "text-align: left;" src="https://media1.tenor.com/images/e5b8c650ed7911a48b6d0242f326f73c/tenor.gif?itemid=5343086" alt="" width="200" height="150" /><img src="https://cdn.nba.net/nba-drupal-prod/styles/landscape/s3/2017-10/NBA_Logoman_2017-horizontal.jpg?itok=FqGSYSH2" alt="naslovna" width="245" height="138" /><span style="color: #ff0000;">.stats</span><img stzle="rexr-align: right;" src="https://media1.tenor.com/images/e5b8c650ed7911a48b6d0242f326f73c/tenor.gif?itemid=5343086" alt="" width="200" height="150" /></h1>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<h3 style="text-align: center;">&nbsp;<span style="color: #0000ff;"><a style="caret-color: #333399; color: #0000ff;" href="/ekipe/">Ekipe</a></span></h3>
<h3 style="text-align: center;">&nbsp;<span style="color: #0000ff;"><a style="caret-color: #333399; color: #0000ff;" href="/igralci/">Igralci</a></span></h3>
<h3 style="text-align: center;">&nbsp;<span style="color: #0000ff;"><a style="caret-color: #333399; color: #0000ff;" href="/trenerji/">Trenerji</a></span></h3>
<h3 style="text-align: center;">&nbsp;<span style="color: #0000ff;"><a style="caret-color: #333399; color: #0000ff;" href="/lastniki/">Lastniki</a></span></h3>
<h3 style="text-align: center;">&nbsp;<span style="color: #0000ff;"><a style="caret-color: #333399; color: #0000ff;" href="/uspesni-lastniki/">Uspe&scaron;ni lastniki</a></span></h3>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<p style="text-align: center;"><span style="color: #808080;">Dobrodo&scaron;li</span></p>
<p style="text-align: center;"><span style="text-decoration: underline; color: #000000;">Prijavite se tukaj:</span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="text-decoration: underline; color: #000000;"><img src="https://hotemoji.com/images/emoji/x/1nl0yqdzjbo4x.png" alt="arrow" width="58" height="58" /></span></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #808080;"><span style="color: #000000;">Uporabni&scaron;ko ime:</span>&nbsp;</span><input class="form-control" name="username" required="" type="username" value="{{username}}" autofocus="" placeholder="Uporabni&scaron;ko ime" />&nbsp; &nbsp;Geslo:&nbsp;<input class="form-control" name="password" required="" type="password" placeholder="Geslo" />&nbsp; &nbsp;<button class="btn btn-lg btn-primary btn-block" type="submit">Prijava</button></p>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;<span style="color: #0000ff;"><a style="caret-color: #333399; color: #0000ff;" href="/register/">Registracija</a></span></div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<div style="text-align: center;">&nbsp;</div>
<p>&nbsp;</p>
</html>