<h2 style="text-align: left;">&nbsp;</h2>
<h2 style="text-align: left;"><img src="https://upload.wikimedia.org/wikipedia/sl/0/02/Nba-logo.jpg" alt="logo2" width="55" height="84" />&nbsp;&nbsp;<img src="http://cdn.onlinewebfonts.com/svg/img_266902.png" alt="reg" width="79" height="83" /></h2>
<h2 style="text-align: center;">&nbsp;</h2>
<h2 style="text-align: center;"><span style="color: #000000;">Registracija</span></h2>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="color: #808080;">Uporabni&scaron;ko ime:&nbsp;</span><input class="form-control" name="username" required="" type="username" value="{{username}}" autofocus="" placeholder="Uporabni&scaron;ko ime" />&nbsp; &nbsp; &nbsp;<span style="color: #808080;">Geslo:</span>&nbsp;<input class="form-control" name="password1" required="" type="password" placeholder="Geslo" /></p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #808080;">Ponovite geslo:&nbsp;</span><input class="form-control" name="password1" required="" type="password" placeholder="Geslo" />&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #ff6600;"><button class="btn btn-lg btn-primary btn-block" type="submit">Registriraj se</button></span></p>
