<h2 style="text-align: center;">Registracija</h2>
<p>&nbsp;</p>
<p style="text-align: center;"><span style="color: #808080;">Uporabni&scaron;ko ime:</span></p>
<p style="text-align: center;"><input class="form-control" name="username" required="" type="username" value="{{username}}" autofocus="" placeholder="Uporabni&scaron;ko ime" /></p>
<p style="text-align: center;"><span style="color: #808080;">Geslo:</span>&nbsp;</p>
<p style="text-align: center;"><input class="form-control" name="password1" required="" type="password" placeholder="Geslo" /></p>
<p style="text-align: center;"><span style="color: #808080;">Ponovite geslo:</span></p>
<p style="text-align: center;"><input class="form-control" name="password1" required="" type="password" placeholder="Geslo" />&nbsp;</p>
<p style="text-align: center;">&nbsp;</p>
<p style="text-align: center;"><span style="color: #ff6600;"><button class="btn btn-lg btn-primary btn-block" type="submit">Registriraj se</button></span></p>
