%rebase('base.html', naslov='Igralci')

<style type="text/css">
    body {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background-image: url('bg.jpg');
    }
    #wrapper {
        width: 80%;
        margin: 60px auto 0px auto;
        padding: 20px 20px 20px 20px;
</style>

<div id="wrapper" class="row mb-2 no-gutters border rounded overflow-hidden shadow-sm h-md-600 position-relative" style="float:left; width:90%; border:1px solid; padding: 20px;">
    <h2>Trenerji</h2>
    <div id="wrapper" style="height:700px;overflow-y:auto;overflow-y:auto;">
        <table class="table table-bordered table-hover">
           <thead class="thead-light">
            <tr>
               <th scope="col">Ime</th>
               <th scope="col">Ekipa</th>
               <th scope="col">Zmage</th>
               <th scope="col">Porazi</th>
               <th scope="col">Razmerje</th>
            </tr>
            </thead>
            <tbody>
            %for (ime, ekipa, zmage, porazi) in seznam_trenerjev:
              <tr>
                 <td>{{ime}}</td>
                 <td>{{ekipa}}</td>
                 <td>{{zmage}}</td>
                 <td>{{porazi}}</td>
                 <td>{{round(zmage/82 * 100, 2)}}%</td>
              </tr>
            %end
            </tbody>
        </table>
    </div>
  </div>
</div>