%rebase('base.html', naslov='Trojni dvojčki')

<style type="text/css">
    body {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        background-image: url('bg.jpg');
    }
    #wrapper {
        width: 80%;
        margin: 60px auto 0px auto;
        padding: 20px 20px 20px 20px;
</style>

<div id="wrapper" class="row mb-2 no-gutters border rounded overflow-hidden shadow-sm h-md-600 position-relative" style="float:left; width:100%; border:1px solid; padding: 20px;">
    <h3>Igralci, ki na tekmo v povprečju dosegajo trojnega dvojčka.</h3>
    <div id = "wrapper" style="height:700px;overflow-y:auto;overflow-y:auto;">
        <table class="table table-bordered table-hover">
           <thead class="thead-light">
            <tr>
               <th scope="col">Ime</th>
               <th scope="col">Ekipa</th>
               <th scope="col">Tocke</th>
               <th scope="col">Podaje</th>
               <th scope="col">Skoki</th>
               
            </tr>
            </thead>
            <tbody>
            %for (ime, ekipa, pts, asist, reb) in trojni_dvojcek:
              <tr>
                % if username:
                      <td><a href="/igralec/{{ime}}/?username={{username}}">{{ime}}</a></td>
                  % else:
                      <td><a href="/igralec/{{ime}}/">{{ime}}</a></td>
                  % end 
                  <td>{{ekipa}}<img src="https://raw.githubusercontent.com/andrazdeluisa/NBA.stats/master/static/logo/{{ekipa}}.png" width="25" height="25" role="img" align="right" alt="Logo"\></td>
                 <td>{{pts}}</td>
                 <td>{{asist}}</td>
                 <td>{{reb}}</td>
              </tr>
            %end
            </tbody>
        </table>
    </div>
  </div>
</div>